img{
    width: 1000px;
    height: 400px;
    border-radius: 80px ;
    text-align: center;
    padding: 35px;
}
marquee{
    margin-top: 200px;
    width: 400px;
    font-size: 40px;
    background-color:#d6c7c7;
    color: #711571;
}
a{
    padding:7px;
}
video{
    width: 500px;
    height: 620px;
    border-radius: 18px;
    padding-bottom: 35px;
}
footer{
    background-color: #d36666;
    padding: 10px;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
}
a{
    text-decoration: none;
}